{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "printWidth": 100,
  "overrides": [
    {
      "files": "frontend/**",
      "options": { "singleQuote": true, "semi": false, "trailingComma": "all" }
    }
  ]
}
